<div class="tracking-tags-container">
  <div class="active-tags">
    <h1>Active Tracking Tags</h1>
    <ng-container *ngFor="let tag of trackingTags">
      <div class="tag-entry" *ngIf="tag.Active">
        <p><strong>Tag ID:</strong> {{ tag.TagID }}</p>
        <p><strong>Last Update:</strong> {{ tag.Time_of_update | date: 'medium' }}</p>
        <ng-container *ngIf="tag.name">
          <p><strong>Name:</strong> {{ tag.name }}</p>
        </ng-container>
        <ng-container *ngIf="tag.EPR_URL">
          <p><strong>EPR URL:</strong> {{ tag.EPR_URL }}</p>
        </ng-container>
        <ng-container *ngIf="tag.x_location && tag.y_location">
          <p><strong>Location:</strong> X: {{ tag.x_location }}, Y: {{ tag.y_location }}</p>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <div class="inactive-tags">
    <h1>Inactive Tracking Tags</h1>
    <ng-container *ngFor="let tag of trackingTags">
      <div class="tag-entry" *ngIf="!tag.Active">
        <p><strong>Tag ID:</strong> {{ tag.TagID }}</p>
        <p><strong>Last Update:</strong> {{ tag.Time_of_update | date: 'medium' }}</p>
        <ng-container *ngIf="tag.name">
          <p><strong>Name:</strong> {{ tag.name }}</p>
        </ng-container>
        <ng-container *ngIf="tag.EPR_URL">
          <p><strong>EPR URL:</strong> {{ tag.EPR_URL }}</p>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
