/* app.component.scss */
.content-wrapper {
    text-align: center; // Centers the content within the wrapper
  }
  
  .page-title {
    color: #005EB8; // NHS Blue
    margin-bottom: 20px; // Space below the title
    font-size: 3em; // Adjust size as desired
  }
  