/* app.component.scss */
.content-wrapper {
    text-align: center; // Centers the content within the wrapper
  }
  
  .page-title {
    color: #005EB8; // NHS Blue
    margin-top: 20vh; // Centers title vertically, adjust as needed
    margin-bottom: 20px; // Space below the title
    font-size: 2em; // Adjust size as desired
  }
  